@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* You must use a DIFFERENT FONT THAT THIS ONE as your webfont */


/*************************************************
            DEFAULTS
*************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    /* change this font stack to your own choices */
    line-height: 1.5;
}

p {}

a {}

ul {}

ol {}

li {}

img {
    width: 30%;
    float: left;
    padding-right: 1rem;
}


/*************************************************
            HEADER
*************************************************/

header {
    padding: 1rem 2rem;
    color: black;
    background-image: url(/img/header2.jpeg);
    padding: 1rem 1rem 1rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-repeat: repeat;
}

header > h1 {
    font-size: 3rem;
    font-family: serif;
}

header > h2 {
    color: hsl(220deg, 30%, 90%);
    font-size: 2rem;
}


/*************************************************
            NAVMENU
*************************************************/

nav {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    background-color: rgb(200,200,200);
    border: 0.1rem solid hsl(0deg, 100%, 100%);
    margin-left: 1rem;
    margin-right: 1rem;
}

nav > a,
nav > a:visited,
nav > a:link {
    color: hsl(0deg, 100%, 0%);
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
}

nav > a:active,
nav > a:focus,
nav > a:hover {
    font-size: 2rem;
    color: rgb(50%,100%,50%);
}


/*************************************************
            MAIN CONTENT
*************************************************/

main {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 1.5rem;
    flex-wrap: nowrap;
}

section {}

section p {
    font-size: 1.1rem;
    font-family: "Source+Sans+Pro" "Roboto" "fallback";
    padding-left: 1rem;
    padding-right: 1rem;
}

section p img {
}


/*************************************************
            FOOTER
*************************************************/

footer {
    padding: 1rem 2rem;
    display: flex;
    background-color: rgb(200,200,200);
}

.foot nav {
    background-color:rgb(200,200,200);
}

.foot section{
    
}

.foot dl {
    display: flex;
    flex-direction:column;
    align-items:center;
    flex-basis: 50%;
}
.foot dt {
    font-size: 1.3rem;
}

.foot dd {}

.foot dd a,
.foot dd a:visited {
    color: rgb(0%,0%,0%);
}

.foot dd a:active,
.foot dd a:focus,
.foot dd a:hover {
    font-size: 1.2rem;
}


/*************************************************
            MEDIA QUERIES for layout
*************************************************/

@media (max-width: 599px) {
    header {
        width: 550px;
        height: 150px;
        flex-grow: 1;
        flex-shrink: 1;
    }
    header > h1 {
        font-size: 2.5rem;
        color: rgb(50%,100%,50%);
    }
    header > h2 {
        font-size: 2rem;
    }
     section > h1{
        color: rgb(50%,100%,50%);
    }
    section > h2{
        color: rgb(50%,100%,50%);
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    main {
        flex-direction: column;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    section p img {
        width: 60%;
        float: left;
    }
    footer {
        padding: 1rem 2rem;
        flex-direction: column-reverse;
         border-top: 1rem solid rgb(50%,100%,50%);
    }
    .foot nav {
        flex-direction: column;
        align-items: stretch;
        padding-bottom: 2rem;
        flex-basis: 100%;
    }
    .foot section {
        flex-direction: column;
        align-items: stretch;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        width: 100%;
    }
    .foot dt{
        color:rgb(50%,100%,50%);
    }
    form .form-box input,select,textarea,button{
        width: 100%;
        height: 1.5rem;
        margin-bottom: 0.7rem;
    }
    button{
        width: 40%;
        height: 2rem;
    }
    div>#comment {
        height: 4rem;
    }
}

@media (min-width: 600px) and (max-width:999px) {
    header > h1 {
        font-size: 3.0rem;
        font-family: 'Source+Sans+Pro';
        color: rgb(100%,50%,100%);
    }
    header > h2 {
        font-size: 2rem;
    }
    section > h1{
         color: rgb(100%,50%,100%);
        font-size: 2rem;
    }
    section > h2{
          color: rgb(100%,50%,100%);
          font-size: 2rem;
    }
    .primary {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a a" "b c";
        margin: 1rem;
    }
    .primary section:first-of-type {
        grid-area: a;
        padding: 1rem;
    }
    .primary section:second-of-type {
        grid-area: b;
        padding: 1rem;
    }
    .primary section:last-of-type {
        grid-area: c;
        padding: 1rem;
    }
    nav > a:active,
    nav > a:focus, 
    nav > a:hover {
    font-size: 2rem;
    color: rgb(100%,50%,100%);
     }
    section p {
        font-size: 1.1rem;
        font-family: "Source+Sans+Pro" "Roboto" "fallback";
        float: inherit;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .first-segment > p > img{
        width:50%;
    }
    section p img {
        width: 100%;
        float: left;
    }
    footer{
        flex-direction: column-reverse;
        flex-basis: 100%;
        border-top: 1rem solid rgb(100%,50%,100%);
    }
    .foot dt{
        color:rgb(100%,50%,100%);
    }
    .subnav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "a b";
        background-color: hsl(35deg, 0%, 85%);
    }
    .docs{
        grid-area: a;
    }
    .channels{
        grid-area: b;
    }
    form .form-box input,select,textarea{
        width:100%;
        height: 1.5rem;
        margin-bottom: 1rem;
    }
    form .form-box input{
        width: 50%;
        float: left;
        padding-right: 2rem;
    }
    #comment{
        height: 4rem;
    }
    button{
        width: 30%;
        height: 2rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 1000px) {
    nav {
        flex-direction: row;
        align-content: center;
    }
    header > h1{
        color:rgb(100%,0%,0%);
    }
    section > h1{
        color: rgb(100%,0%,0%);
        font-size: 1.7rem;
    }
    section > h2{
        color: rgb(100%,0%,0%);
       font-size : 1.7rem;
    }
    nav > a:active,
    nav > a:focus,
     nav > a:hover {
    font-size: 2rem;
    color: rgb(100%,0%,0%);
    }
    main {
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        align-content: space-around;
    }
    section p img {
        width: 250px;
        height: 200px;
    }
    footer{
        display: grid;
        border-color: rgb(241,165,0);
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "subnav comments";
        border-top: 1rem solid rgb(100%,0%,0%);
    }
    .subnav{
        grid-area: subnav;
    }
    .comments{
        grid-area: comments;
    }
    form .form-box input,select,textarea{
        width: 100%;
        margin-bottom: 1rem;
        height: 1.5rem;
    }
    form .form-box input{
        width: 50%;
        float: left;
    }
    button{
        width:30%;
        height: 2rem;
    }
    textarea{
        height: 3rem;
    }
}